<div class="row vehicle-row" id={{concat 'vehicle-' vehicle.vehicleMovementId}}>
    <div class="vehicle-image col-md-2 col-xs-2">
        <img src={{vehicle.imageFile}}/>
    </div>
    <div class="col-md-8 col-xs-8">
        <div class="row">
            {{#link-to "vehicle.index" vehicle.vehicleMovementId id=vehicle.vehicleMovementId}}
                <label class="col-md-10 col-xs-10">{{vehicle.vehicleTitle}}</label>
            {{/link-to}}

            <label class="col-md-2 col-xs-2">{{vehicle.mileage}} mi</label>
        </div>
        <div class="row">
            <label class="col-md-12 col-xs-12">Asking Price: {{vehicle-helper vehicle.askingPrice}}</label>
        </div>
        <div class="row">
            <label class="col-md-6 col-xs-6 bidAmount">Bid Amount: {{vehicle-helper bidAmount}}</label>
            <div class="col-md-6 col-xs-6"><button {{action 'clickBid'}} class="btn btn-default">Bid</button></div>
        </div>
    
    </div>
    <div class="col-md-2 col-xs-2">
        <label>{{vehicle.color}}</label>
    </div>
</div>