<div class="row">
    <label class="col-md-12 col-xs-12 vehicle-title">{{model.vehicleTitle}}</label>
    <div class="vehicle-image {{if zoom "col-xs-6 col-md-6" "col-xs-3 col-xs-3"}}">
        <a {{action "toggleImage"}}><img src={{model.imageFile}}/></a>
    </div>
    <div class="{{if zoom "col-xs-6 col-md-6" "col-xs-12 col-xs-12"}}">
    </div>
</div>
<div class="row vehicle-details">
    {{#if model.inspected}}
        <label class="col-md-12 col-xs-12 inspected">Professionally Inspected</label>
    {{/if}}
    <label class="col-md-12 col-xs-12 vehicle-location">Location: {{model.location}}</label>
    <label class="col-md-12 col-xs-12 vehicle-color">Color: {{model.color}}</label>
    <label class="col-md-12 col-xs-12 vehicle-mileage">Mileage: {{model.mileage}}</label>
    <label class="col-md-12 col-xs-12 vehicle-asking">Asking Price: {{model.askingPrice}}</label>
</div>